.router-link-active {
  color: lightgreen !important;
}

.navbar {
  margin-bottom:0;
  background: #2C3E50;
  font-weight: 700;
  border: none;
  border-radius: 0;
  height: 100px;
  padding-top:25px;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 1000;

}

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size:14px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 28px;
}


.profile-img {
  height: 80px;
  display: inline-block
}