
.router-link-active {
  color: lightgreen !important;
}

.navbar {
  margin-bottom:0;
  display: flex;
  align-items: center;
  background: #2C3E50;
  font-weight: 700;
  border: none;
  border-radius: 0;
  height: 100px;
//   padding-top:25px;

  position: fixed;
  width:100%;
  top: 0;
  z-index: 1000;

}

.nav-bar_container {
    display: flex;
    justify-content: space-between;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-brand {
      flex: 1 0 25%;
      text-align: left;
  }
}

#nav-bar-mobile-checkbox, .nav-bar-mobile-icon {
    display: none;
    color: white;
    font-size: 2.8rem;
    line-height: 1;
    cursor: pointer;
    
}

@media (max-width: 1231px) {
    .wrapper {
        width: 93%;
    }
}

@media (max-width: 1102px) {
    .navbar-right img {
        display:none;
    }
}

@media (max-width: 1001px) {
    .navbar {
        height: 60px;
    }
    .nav-bar_container {
        max-width: 50%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 9999;
        padding: 1em;
        padding-top: 0px;
        transition: all 0.4s ease-in-out;
        transform: scaleX(0);
        opacity: 0;
        transform-origin: left;
        border-bottom-right-radius: 5px;
    }

    .navbar-right {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
 
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .nav-bar-mobile-icon {
        display: inline-block;
        margin-bottom: 0px;
        font-size: 28px;
    }

    #nav-bar-mobile-checkbox:checked ~ .nav-bar_container {
        background-color: #2C3E50;
        transform: scaleY(1);
        opacity: 1;
    }
    
    .wrapper a.navbar-brand {
        float: right;
        text-align: right;
        font-size: 20px;
    }


}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size:14px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 28px;
}

.close-menu-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left:0;
}

.profile-img {
  height: 80px;
  display: inline-block
}