<div>

  <section class="hero below-nav">
    <h1>Become Healthier Every Day</h1>
    <h3>Start by recording your last meal's ingredients</h3>
    <add-meal></add-meal>
  </section>



  <!--<section class="reviews">
  <h3 class="title">What others say:</h3>
  <hr class="star-primary">

  <p class="quote">Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad litora torquent per conubia
    nostra, per inceptos himenaeos.</p>
  <p class="author">— Patrick Farrell</p>

  <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar
    velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <p class="author">— George Smith</p>

  <p class="quote">Donec commodo dolor augue, vitae faucibus tortor tincidunt in. Aliquam vitae leo quis mi pulvinar ornare. Integer eu iaculis
    metus.</p>
  <p class="author">— Kevin Blake</p>
</section>-->

  <section class="features">
    <h3 class="title">About us</h3>
    <hr class="star-primary">
    <p>We are graduates of the Coding Academy bootcamp. <br>
    This is our final project.
    </p>

    <ul class="grid">
      <li>
        <i class="fa fa-camera-retro"></i>
        <h4>Omer Zfira</h4>
        <p>Full-stack Web Developer, passionate about solving challenges. Specializes in building cross-browser, scalable applications and websites with rich and responsive front-end.
Highly motivated and creative, self-learning, dedicated, diligent, responsible and a team player, always learning and applying the cutting edge technologies in my projects.
</p><br/><p>
Specialties: JavaScript, Vue.js,  Angular.js, Node.js, PHP, mongoDB, CSS3/SaSS, HTML5, Fullstack Development.
        </p>
      </li>
      <li>
        <i class="fa fa-cubes"></i>
        <h4>Mark Fridman</h4>
        <p>
          Full-stack Web Developer, devoted to building the next say in web-applications with experience in the latest web technologies. Punctual, self-reliant creative, responsible and passionate about building cool stuff with strong communication skills.
           Specializes in building cross-browser, scalable applications and websites with rich and responsive front-end.
        </p>
        </p><br/><p>
            Specialties:  HTML5, CSS3/SaSS, JavaScript, Vue.js,  Angular.js, Node.js, PHP, mongoDB, Fullstack Development.
        </p>
      </li>
    </ul>
  </section>

  <!--<section class="our-work">
    <h3 class="title">Some of our work</h3>
    <hr class="star-primary">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar
      velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>

    <ul class="grid">
      <li class="small" style="background-color: lightgray;"></li>
      <li class="large" style="background-color: lightgray;"></li>
      <li class="large" style="background-color: lightgray;"></li>
      <li class="small" style="background-color: lightgray;"></li>
    </ul>
</section>-->

<section class="contact">
  <h3 class="title">Join our newsletter</h3>
  <hr class="star-primary">
  <p>We occasionally publish health articles and other related dietetic information.
    <br>We<span style="color:red;font-weight: bold;"> will not</span>  send spam or pass your e-mail address to 3rd parties. </p>

  <form>
    <input type="email" placeholder="Email">
    <a href="#" class="btn">Subscribe now</a>
  </form>
</section>

<!-- Contact Section -->
<add-contact></add-contact>

<footer>
  <ul>
    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square"></i></a></li>
  </ul>
  <p>&copy; Copyrights</p>
</footer>

</div>