<section class="below-nav">
    <h2>My Meals Component</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>{{dayInMonthNum-2}}</th>
                <th>{{dayInMonthNum-1}}</th>
                <th>{{dayInMonthNum}} *</th>
                <th>{{dayInMonthNum+1}}</th>
                <th>{{dayInMonthNum+2}}</th>
            </tr>
        </thead>
        <tbody ref="ok">
            <tr v-for="(num,idx) in 24">
                <td ref="num">{{idx}}</td>
                <td ref="num"></td>
                <td ref="num"></td>
                <td ref="num"></td>
                <td ref="num"></td>
                <td ref="num"></td>
            </tr>

            
        </tbody>
    </table>
    <div v-for="meal in meals">
        <h3>Things you ate: {{meal.foods[0]}}</h3> 
        <h3> on {{meal.time}}</h3> 
       
    </div>

</section>