
.calendar {
    margin: 0 30px;
    @media (max-width: 620px) {
        margin: auto;

    }
}
.below-nav2 {
    margin-top: 75px;
     @media (max-width: 620px) {
         margin-top: 75px;

    }
}
